.heading{
    font-size:30px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 20px;
    color: black;
}
.tune{
    border-radius: 100px;
}
body{
    background-size:cover;
    font-family: 'Staatliches', cursive;
}
.play{
    font-size: 30px;
    margin-top: 50px;
    width: 200px;
}
.div_speed{
    float: left;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.div_volume_img{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
.copy_right_footer {
    position: fixed;
    color: orange;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    line-height: 3;
    text-align: center;
    font-size: 24px;
    font-family: 'Staatliches', cursive;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}
.pause{
    margin-left: 20px;
}